# Data and output directories
scripts/evaluate-moments/data/*
scripts/evaluate-moments/output/*
scripts/generic-plotting/data/*
scripts/generic-plotting/output/*
scripts/eqc-ind-antenna/data/*
scripts/eqc-ind-antenna/output/*

# Virtual environments (all .venv folders)
.venv/

# Literature references
literature-references/

# VNC commands
vnc-commands.txt
